---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import CustomImageScroll from "../components/CustomImageScroll.astro";
import CTA from "../components/CTA.astro";
import Contact from "../components/Contact.astro";

//Professional Work Components
import LastRobot from "../components/Projects/LastRobot.astro";
import Sickness from "../components/Projects/Sickness.astro";
import Bunny from "../components/Projects/Bunny.astro";
//Project Components
import AI from "../components/AI.astro";
import Multiplayer from "../components/Multiplayer.astro";
import Web from "../components/Web.astro";
import Apps from "../components/Apps.astro";
---

<Layout title="Game Developer Portfolio">
  <div id="contents">
    <main class="container">
      <div class="mb-16">
        <Heading />
        <p
          class="mt-4 text-lg text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
          I'm a videogame programmer, just what I aspired to be the first time I've ever touched a console as a kid. I was always intrigued in how lines of code are translated 
          to whatever we see in a game, from the most simple thing, just like a character's jump, to the most complicated of AI behaviours. Nowadays, I get great satisfaction whenever
          I achieve to answer all those questions I had as a kid.
        </p>
        <p
          class="mt-4 text-lg text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
          I love creating games, and I'm always looking for new opportunities to work on projects that challenge me and help me grow as a developer.
          I'd love to meet people who share the same passion for games and game development as I do. If you're interested in working together, please don't hesitate to <a
          href="#contact"
          class="underline text-gray-300">reach out</a
        >.
        </p>
      </div>
      <div class="mb-16">
        <CustomImageScroll />
      </div>

      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2"
      >
        My Projects
      </h2>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="">
          <Card
             href="https://paulands.itch.io/last-robot-in-earth"
             title="Last Robot in Earth"
             body="A 3D platformer game similar to Wipeout with Twitch integration, where one player controls a robot that must reach the end of the level while avoiding obstacles from the environment and Twitch chat."
             tags="Unreal, C++, Twitch API, 3D Modeling, Game Design"
           >
             <div class="max-w-full">
               <LastRobot />
             </div>
           </Card>
         </div>
         <div class="">
           <Card
              href="https://discord.gg/branchingsicknees"
              title="Branching Sickness"
              body="Currently working on a Halo fan game. A Flood horror game where the player must cross every level while avoiding the infection forms."
              tags="Unreal, C++, 3D Modeling, Game Design"
            >
              <div class="max-w-full">
                <Sickness />
              </div>
            </Card>
          </div>
          <div class="">
           <Card
              github="https://github.com/TaquitosDorados/BunnyGame/releases/latest"
              title="Catch the Bunny"
              body="A VR multiplayer game where one player controls a bunny (desktop), and the other player controls a hunter (VR) that must catch the bunny before the time runs out."
              tags="Unreal, C++, VR, 3D Modeling, Game Design"
            >
              <div class="max-w-full">
                <Bunny />
              </div>
            </Card>
          </div>
      </div>
      <div class="my-4 py-4 px-2 mb-6 mx-auto max-w-screen-xl sm:py-8 lg:px-3 text-center">
        <a href="Projects" class="text-black bg-stone-100 hover:bg-stone-200 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 mr-2 mb-2 dark:hover:bg-stone-200  dark:focus:ring-stone-800 industry focus:ring-4 focus:ring-blue-600">See More</a>
      </div>
      <div class="my-8 bg-black">
        <CTA />
      </div>
      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2"
      >
        Other Skills
      </h2>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="">
          <Card
            title="AI Programming"
            body="Multiple projects and games I've worked on that involve AI programming, such as pathfinding, decision trees, and behavior trees."
            tags="AI, Game Design"
            href="AI"
          >
            <AI />
          </Card>
        </div>
        <div class="">
          <Card
            title="Multiplayer Implementation"
            body="Games I've worked on that involve multiplayer implementation, such as replication and matchmaking."
            tags="Multiplayer, Game Design"
            href="Multiplayer"
          >
            <Multiplayer />
          </Card>
        </div>
        <div class="">
          <Card
            title="Web Development"
            body="Websites I've worked on, such as personal websites, testing websites and other."
            tags="Python"
            href="Web"
          >
            <Web />
          </Card>
        </div>
        <div class="">
          <Card
            title="App Development"
            body="Some of the mobile apps I've worked on, such as personal projects, testing apps and other."
            tags="Python"
            href="Apps"
          >
            <Apps />
          </Card>
        </div>
      </div>
      <div class="my-8">
        <Contact />
      </div>
    </main>
  </div>
</Layout>

<style is:global>
  main {
    margin: auto;
    padding: 0.75rem;
    width: 1100px;
    max-width: 100%;
    color: white;
    line-height: 1.6;
  }
  .project-image {
    max-width: 100% !important;
    overflow: hidden;
  }
  .project-cards {
  }
  .video-wrapper {
    background: #111111;
    padding: calc(1.5rem - 1px);
    line-height: 1.4;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  .project-column > div {
    max-width: 100%;
    overflow: hidden;
  }
  .projects-alt > li {
    gap: 1rem !important;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    font-size: 2.75rem;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    gap: 0;
    padding: 0;
  }
  .read-more {
    color: #fff;
  }
  details {
    position: relative;
    top: -1px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    max-width: 900px;
  }
  details > div {
    max-width: 830px;
  }

  summary:hover {
    cursor: pointer;
  }
</style>

<script></script>
