---
import { Image } from 'astro:assets';
import AIImage from '../assets/AI_Icon.jpg'
---

<div>
  <Image
    class="project-image border  border-black"
    src={AIImage}
    alt="AI Icon"
    densities={[1, 2, 3]} 
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
