---
import { Image } from 'astro:assets';
import image from '../assets/HoySeCome2.jpeg'
---

<div>
  <Image
    class="project-image border  border-black"
    src={image}
    alt="HoySeCome 2 Icon"
    densities={[1, 2, 3]} 
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
